<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VoluntariadoCruzRoja"
        tools:targetApi="31">
        <activity
            android:name=".VolCalendario"
            android:exported="false" />
        <activity
            android:name=".MisEventos"
            android:exported="false" />
        <activity
            android:name=".ListaUsuarios"
            android:exported="false" />
        <activity
            android:name=".ListaEventosV"
            android:exported="false" />
        <activity
            android:name=".ListaEventosAdm"
            android:exported="false" />
        <activity
            android:name=".MainCalendario"
            android:exported="false" />
        <activity
            android:name=".AdminCalendario"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".MainLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>